.task {
    padding: .8rem 0;
    border-bottom: 1px dashed var(--todo-secondary-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: .5rem;

    div {
        width: 100%;
        padding: 1.2rem 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        text-transform: capitalize;

        .check {
            font-size: 1.8rem;
            color: var(--todo-primary);
            cursor: pointer;
        }

        .uncheck {
            font-size: 1.8rem;
            color: var(--todo-secondary);
            cursor: pointer;
        }

        input {
            width: 80%;
            background-color: transparent;
            border: none;
            color: var(--todo-light);
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: capitalize;
            caret-color: var(--todo-primary);

            &:focus {
                outline: none;
            }
        }
    }

    .checked {
        color: var(--todo-secondary);
    }

    .trash {
        cursor: pointer;
        color: var(--todo-secondary-light);
    }
}