:root {
    --todo-dark: #23272F;
    --todo-darker: #16181D;
    --todo-primary: #58C4DC;
    --todo-light: #F6F7F9;
    --todo-secondary-dark: #333A44;
    --todo-secondary: #353A46;
    --todo-secondary-light: #535967;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--todo-primary) var(--todo-darker);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--todo-dark);
    font-family: sans-serif;
    color: var(--todo-light);
    height: 100vh;
}

.container {
    max-width: 1080px;
    width: 90%;
    margin: auto;
}